# ATM we are pure bash scripts but eventually might RF into Python
language: python

matrix:
  include:
    - os: linux
      python: 3.6
    - os: osx
      language: generic

install:
  - travis_retry ./travis/install.sh

script:
    - grep -m 1 -l '^#!/bin/.*sh' -- scripts/* | xargs shellcheck
    - bats -t scripts/tests
