name: Additional tests

on:
  push:
  pull_request:
  schedule:
    - cron: '30 01 * * *'

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - name: Set up system
      shell: bash
      run: |
        bash <(wget -q -O- http://neuro.debian.net/_files/neurodebian-travis.sh)
        sudo apt-get update -qq
        sudo apt-get install eatmydata
        sudo eatmydata apt-get install singularity-container gnupg moreutils strace
        sudo eatmydata apt-get install datalad datalad-container

    - name: Checkout this repository
      uses: actions/checkout@v1

    - name: Test example in the README.md
      run: bash <(sed -n -e '/^ *#!/,/^```$/p' README.md | grep -v '```')
